<h1> <%=@user.first_name + "'s Profile" %> </h1>

<table>
  <tr>
  </tr>
<% if @profiles.empty? %>
No profile has been created.<br><br>
	<%= link_to 'Create new profile', new_profile_path %>
<% else %>
	<% for profile in @profiles %>
	<%= render :partial => 'profile_data' %>
	
  	<tr>
    	<td><%= link_to 'Edit Profile', edit_profile_path(profile) %></td>
  	</tr>
	<% end %>
<% end %>
         <!-- NEED TO FIX THESE ROUTES/TALK ABOUT HOW WERE GOING TO ROUTE THESE-->
	<tr>
		<%= link_to 'View ' + @user.first_name + 's Reviews', user_review_path(@user.id) %> |
	</tr>
	<tr>
		<%= link_to 'Review This User', new_user_review_path(:user_id => @user.id) %>
	</tr>
</table>


