<table>
  <tr>
	<td width="350"><h1> <%=@user.first_name + "'s Profile" %> </h1></td>
	<td><h1>Favorites</h1></td>
  </tr>
	
	<tr>
	<td width="350">
			<% if @profiles.empty? %>
			No profile created. <br><br> <b> You need to create a valid profile <br> in order to post or rent a room.</b> <br><br>
			<%= link_to 'Create new profile', new_profile_path %><br>
			<% else %>
				<% for profile in @profiles %>
					<%= render :partial => 'profile_data' %>
				<% end %>
			<% end %>
	</td>	         
	<td valign="top">
		<% if @favorites.empty? %>
		No favorites have been added.
		<% else %>
		<% for favorite in @favorites %>
		<br><br>
			<%= link_to( h(favorite.room.street_address_1), room_path(favorite.room)) %>
			<% unless favorite.room.street_address_2.empty? %>
				<br>
				<%= h(favorite.room.street_address_2) %>
			<% end %>
			<br>
			<%= h(favorite.room.city) + " " + h(favorite.room.state) + ", " + h(favorite.room.zip) %>
			<br>
			<% roomhost = User.find(:first, :conditions => ['id = ?', favorite.room.host.user_id]) %>
			<% hostprofile = Profile.find(:first, :conditions => ['user_id = ?', roomhost.id]) %>
			<table>
				<tr>
				<td>
					<% unless hostprofile.nil? %>
						<% if hostprofile.photo_file_name.nil? %>
						<%= image_tag 'emptyFace.png', :height => "50" %>
						<% else %>
						<%= image_tag(hostprofile.photo.url, :height => "50") %>
						<% end %>
					<% else %>
						<%= image_tag 'emptyFace.png', :height => "50" %>
					<% end %>
				</td>
				<td valign="top">
					Host:<br>
					<% if hostprofile.nil? %>
						<%= h(roomhost.first_name) + " " + h(roomhost.last_name) %>
					<% else %>
						<%= link_to( h(roomhost.first_name) + " " + h(roomhost.last_name), profile_path(hostprofile.id) )%>
					<% end %>
					<% end %>
					<% end %>
					
					<br>
					<br>
					<%= render :partial => 'admin_menu' %>
				</td>
				</tr>
			</table>
			
	</td>
  </tr>
		<tr>
	    	<td><br>
			<% for profile in @profiles %>
				<%= link_to 'Edit Profile', edit_profile_path(profile) %>
			<% end %>
			</td>
	  	</tr>
			
		<tr>
			<td>
				<br><br><br>
			<%=link_to 'Change Password', change_password_path %>
			<% form_for :user, @user, :url => { :action => "suspend"} do |f| -%>
				<%= f.hidden_field :id %>
				<br><%= submit_tag 'De-activate Account'%>
			<% end -%>

			</td>
			
		</tr>
</table>


