<h1>New profile</h1><br>

<% form_for @profile, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

	
	<%= f.hidden_field :user_id, :value => session[:user_id] %> 
	
	<table>
		<tr>
			<td width = "350" valign="top">	
	<p>
		<b>College</b>:<br>
		<%= f.select(:college_id, College::COLLEGES_LIST, :prompt => "Select...") %>
	</p>
	
	<p>
		<b>Birthdate</b>:<br>
		<%= f.date_select :birthdate, :start_year => (Date.today.year-35), :end_year => (Date.today.year), :order => [:month, :day, :year] %>
	</p>
	<p>
		<b>Graduation Date</b>:<br>
		<%= f.date_select :grad_year, :start_year => (Date.today.year), :end_year => (Date.today.year+10), :order => [:month, :day, :year] %>
	</p>
	<p>
		<b>Phone Number</b>:<br>
		<%= f.text_field :phone, :size => 20 %>
	</p>
	<p>
		<b>Living Style</b>:<br>
		<%= f.text_area :living_style, :rows => 6, :cols => 40 %>
	</p>
	</td>
	<td valign="top">
	<p>
		<b>Bedtime</b>:<br>
		<%= f.text_field :bedtime, :size => 20 %>
	</p>
	<p>
		<b>Interests</b>:<br>
		<%= f.text_area :interests, :rows => 6, :cols => 40 %>
	</p>
	<p>
		<b>Smoker?<b><br>
		<%= f.check_box :smoker %>
	</p>
	
	<p>
		<b>Profile Picture:<b><br>
		<%= f.file_field :photo %>
	</p>

  <p>
    <%= f.submit "Create" %>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;				    
	&nbsp;&nbsp;&nbsp;&nbsp;
	<%= link_to 'Back', profiles_path %>
  </p>
<% end %>


</td></tr></table>
