<h1>New profile</h1><br>

<% form_for @profile, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

	
	<%= f.hidden_field :user_id, :value => session[:user_id] %> 
	
	<table>
		<tr>
			<td width = "350" valign="top">	
			<p>
				<%= f.label :college %><b style="color:red;">*</b><BR />
				<%= f.select(:college_id, College::COLLEGES_LIST, :prompt => "Select...") %>
			</p>

			<p>
				<%= f.label :birthdate %><b style="color:red;">*</b><BR />
				<%= f.date_select :birthdate, :start_year => (Date.today.year-35), :end_year => (Date.today.year), :order => [:month, :day, :year] %>
			</p>
			<p>
				<%= f.label (:grad_year, "Graduation year") %><b style="color:red;">*</b><BR ?>
				<%= f.select(:grad_year, Profile::GRAD_YEARS, :prompt => "Select..." )%>
			</p>
			<p>
				<%= f.label (:phone, "Phone number") %><b style="color:red;">*</b><BR />
				<%= f.text_field :phone, :size => 20 %>
			</p>
			<p>
				<%= f.label :living_style %><b style="color:red;">*</b><BR />
				<%= f.text_area :living_style, :rows => 6, :cols => 40 %>
			</p>
			</td>
			<td valign="top">
			<p>
				<%= f.label :bedtime %><b style="color:red;">*</b><BR />
				<%= f.text_field :bedtime, :size => 20 %>
			</p>
			<p>
				<%= f.label :interests %><b style="color:red;">*</b><BR />
				<%= f.text_area :interests, :rows => 6, :cols => 40 %>
			</p>
			<p>
				<%= f.label (:smoker, "Are you a smoker?") %>
				<%= f.check_box :smoker %>
			</p>
	
	<p>
		<%= f.label (:photo, "Profile picture:") %><br>
		<%= f.file_field :photo %>
	</p>

  <p>
    <%= f.submit "Create" %>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;				    
	&nbsp;&nbsp;&nbsp;&nbsp;
	<%= link_to 'Back', profiles_path %>
  </p>
<% end %>


</td></tr></table>
