<h1><%= @profile_user.first_name + " " + @profile_user.last_name %></h1>
<br>
<table>
<tr>
<td width = '350'>
<p>
<% puts "ERROR CHECK HERE ********************" %>
<% puts @profile.photo_file_name.nil? %>
<% if @profile.photo_file_name.nil? %>
<%= image_tag "emptyFace.png", :width => "300" %><BR><BR><BR><BR>
<% else %>
<%= image_tag @profile.photo.url, :width => "300"%><br><br><br><br>
<% end %>
</p>	
</td>
<td>
<p>
	<b>College</b>:
	<%=h @profile.college.name %>
</p>

<p>
	<b>Birthdate</b>:
	<%=h @profile.birthdate %>
</p>
<p>
	<b>Graduation Date</b>:
	<%=h @profile.grad_year %>
</p>
<p>
	<b>Phone Number</b>:
	<%=h @profile.phone %>
</p>
<p>
	<b>Living Style</b>:
	<%=h @profile.living_style %>
</p>
<p>
	<b>Bedtime</b>:
	<%=h @profile.bedtime %>
</p>
<p>
	<b>Interests</b>:
	<%=h @profile.interests %>
</p>

<p>
	<b>Smoker?</b>:
	<% if @profile.smoker == true %>Yes
	<% else %> No
	<% end %>
</p>

</td>
</tr>
</table>


	<!-- NEED TO FIX THESE ROUTES/TALK ABOUT HOW WERE GOING TO ROUTE THESE-->
	<%= link_to 'View ' + @user.first_name + '\'s Reviews', user_reviews_path %> &nbsp; | &nbsp;
	<%= link_to 'Review This User', new_user_review_path(:user_id => @user.id)%> 

