<h1><%= @profile_user.first_name + " " + @profile_user.last_name %></h1>
<br>
<table>
<tr>
<td width = '350'>
<p>

<% if @profile.photo_file_name.nil? %>
<%= image_tag "emptyFace.png", :width => "300" %><BR><BR><BR><BR>
<% else %>
<%= image_tag @profile.photo.url, :width => "300"%><br><br><br><br>
<% end %>
</p>	
</td>
<td>
<p>
	<%= label_tag 'College' %>:
	<%=h @profile.college.name %>
</p>

<p>
	<%= label_tag 'Birthdate' %>:
	<%=h @profile.birthdate %>
</p>
<p>
	<%= label_tag 'Graduation Year' %>:
	2010
<!--	<%=h @profile.grad_year %>  -->
</p>	
<p>
	<%= label_tag 'Phone Number' %>:
	<%=h @profile.phone %>
</p>
<p>
	<%= label_tag 'Living Style' %>:
	<%=h @profile.living_style %>
</p>
<p>
	<%= label_tag 'Bedtime' %>:
	<%=h @profile.bedtime %>
</p>
<p>
	<%= label_tag 'Interests' %>:
	<%=h @profile.interests %>
</p>

<p>
	<%= label_tag 'Smoker?' %>
	<% if @profile.smoker == true %>Yes
	<% else %> No
	<% end %>
</p>

</td>
</tr>
</table>
<br>

	<!-- NEED TO FIX THESE ROUTES/TALK ABOUT HOW WERE GOING TO ROUTE THESE-->
	<%= link_to('< Back', :back) %>

