<h1>Users</h1>

<table>
	<thead class="datagrid">
		<th>Username</th>
		<th width="200">Full Name</th>
		<th>Admin?</th>
		<th>Active?</th>
		<th width="200">Options</th>
	</thead>

<% for user in @users %>
	<% unless user.id == @user.id %>
  	<tr>
		<td><%=h user.username %></td>
		<td><%=h user.first_name + " " + user.last_name %></td>
    	<td>
    		<% if user.is_admin? %>Yes
			<% else %>No
			<% end %>
    	</td>
		<td>
			<% if user.state == "suspended" %>No
			<% else %>Yes
			<% end %>
		</td>
    	<td><%= link_to 'Edit', edit_user_path(user.id) %>
			<% if user.state == "suspended" %>
				<% form_for :user, user, :url => { :action => "unsuspend"} do |f| -%>
					<%= f.hidden_field :id, :value => user.id %>
					<br><%= submit_tag 'Activate Account'%>
				<% end -%>
			<% else %>
				<% form_for :user, user, :url => { :action => "suspend"} do |f| -%>
					<%= f.hidden_field :id, :value => user.id %>
					<br><%= submit_tag 'De-activate Account'%>
				<% end -%>
			<% end %>
		</td>
  	</tr>
	<% end %>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>


<div class pagination>
<%= will_paginate @posts %>
</div class pagination>
