<h1>Sign up</h1>
<% @user.password = @user.password_confirmation = nil %>

<% form_for :user, :url => users_path do |f| -%>
	<%= error_messages_for :user %>
	<%= flash[:error] %>
		<fieldset>
			<legend>Enter Your Details</legend>
			<i style="color:blue;">Fields marked </i>
			<b style="color:blue;">*</b>
			<i style="color:blue;"> are mandatory</i>
			<table>
				<tr>
					<td width = "350" valign="top">
			
				<p><%= label_tag 'First Name' %><b style="color:red;">*</b><br/>
				<%= f.text_field :first_name %></p>
				
				<p><%= label_tag 'Last Name' %><b style="color:red;">*</b><br/>
				<%= f.text_field :last_name %></p>
				
				<p><%= label_tag 'Gender' %><b style="color:red;">*</b><br/>
				<%= f.select( :gender , gender_select ,:prompt => "Please Select") %></p>
				
				<p><%= label_tag 'Username' %><b style="color:red;">*</b><br/>
				<%= f.text_field :username %></br><i style="font-size:10px;">Between 3 to 40 characters</i></p>
				
				<p><%= label_tag 'password' %><b style="color:red;">*</b><br/>
				<%= f.password_field :password %></br><i style="font-size:10px;">Between 6 to 15 characters</i></p>
				
				<p><%= label_tag 'password_confirmation', 'Confirm Password' %><b style="color:red;">*</b><br/>
				<%= f.password_field :password_confirmation %></p>
				</td>
				<td width = "350" valign="top">
						
				<p><%= label_tag 'email' %><b style="color:red;">*</b><br/>
				<%= f.text_field :email %></br><i style="font-size:10px;">Email has to be a valid .edu email domain. E.g. john@example.edu</i></p>

				<p><%= label_tag 'Confirm Email' %><b style="color:red;">*</b><br/>
				<%= f.text_field :email %></p>
				
				Please enter the 2 words below to verify your signup<b style="color:red;">*</b><br />
				<%= recaptcha_tags %>
							
				<BR />
				<font size=2>
					I understand and agree to the DormHost Terms and Conditions of Use.<b style="color:red;">*</b>
					<%= f.check_box :terms %>
				</font>
					
				<p><%= submit_tag 'Sign up' %></p>
				</td>
				</tr>
				</table>
				
		</fieldset>	
<% end -%>