<span class="medtitle">Admin Options</span><br />
<p class="smtext">
  <%= link_to 'Add/Edit <strong>Locations</strong>', locations_path %>
</p>

<p class="smtext">
  <%= link_to 'Add/Edit <strong>Time Controls</strong>', timecontrols_path %>
</p>

<p class="smtext">
  <%= link_to 'Add/Edit <strong>Entries</strong>', entries_path %>
</p>

<p class="smtext">
  <%= link_to 'Add/Edit <strong>Tournaments</strong>', tournaments_path %>
</p>

<p class="smtext">
  <%= link_to 'Add/Edit <strong>Instructors</strong>', instructors_path %>
</p>