<h1>Editing <%=h @room_profile.bed_type %></h1>

<% form_for(@room_profile, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

	<p>
		<b>Bed Type</b>:<br>
		<%= f.text_field :bed_type, :size => 42 %>
	</p>
	<p>
		<b>Max Capacity</b>:<br>
		<%= f.text_field :max_capacity, :size => 20 %>
	</p>
	<p>
		<b>Pets</b>:<br>
		<%= f.text_field :pets, :size => 42 %>
	</p>
	<p>
		<b>Food Available</b>:<br>
		<%= f.text_area :food, :rows => 2, :cols => 40 %>
	</p>
	<p>
		<b>Roommates</b>:<br>
		<%= f.text_field :roommates, :size => 2 %>
	</p>
	<p>
		<b>Internet Available?<b><br>
		<%= f.check_box :internet %>
	</p>
	<p>
		<b>On Campus?<b><br>
		<%= f.check_box :on_campus %>
	</p>
	<p>
		<b>Cost</b>:<br>
		<%= f.text_field :cost, :size => 10 %>
	</p>
	<p>
		<b>Notes</b>:<br>
		<%= f.text_area :notes, :rows => 6, :cols => 40 %>
	</p>
  <div>
    <%= f.label(:photo, 'Upload photo') %>
    <%= f.file_field(:photo) %>
  </div>

  <%- unless @room_profile.new_record? || !@room_profile.photo? -%>
    <div>
      <%= f.label(:delete_photo, 'Delete photo') %>
      <%= image_tag(@room_profile.photo.url, :alt => 'Photo', :title => 'Current photo') %>
      <%= f.check_box(:delete_photo) %>
    </div>
  <%- end -%>	
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @room_profile %> |
<%= link_to 'Back', room_profiles_path %>
