
<head>
    <script src="http://maps.google.com/maps?file=api&v=2&key=ABQIAAAApYAAWQLCpKidmDF3vKJhxRTJQa0g3IQ9GZqIMmInSLzwtGDKaBTdapThRrHK4PBstysnofBjGciQjA" type="text/javascript"></script>
    <%=javascript_include_tag 'application'%>
</head>

<h1>New Room Profile</h1>

<% form_for(@room_profile, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

	
	<table>
		<tr>
			<td width="350">
	<p>
		<b>Bed Type</b>:<br>
		<%= f.text_field :bed_type, :size => 42 %>
	</p>
	<p>
		<b>Available Spots</b>:<br>
		<%= f.text_field :max_capacity, :size => 20 %>
	</p>
	<p>
		<b>Pets</b>:<br>
		<%= f.text_field :pets, :size => 42 %>
	</p>
	<p>
		<b>Is there food available for the renter? </b><br>
		<%= f.text_area :food, :rows => 2, :cols => 40 %>
	</p>
	<p>
		<b>Number of Roommates</b>:<br>
		<%= f.text_field :roommates, :size => 2 %>
	</p>
	<p>
		<b>Internet Available?<b><br>
		<%= f.check_box :internet %>
	</p>
	<p>
		<b>On Campus?<b><br>
		<%= f.check_box :on_campus %>
	</p>
	</td>
	<td valign="top">
	<p>
		<b>Cost</b>:<br>
		<%= f.text_field :cost, :size => 10 %>
	</p>
	<p>
		<b>Notes</b>:<br>
		<%= f.text_area :notes, :rows => 6, :cols => 40 %>
	</p>
	<p><br><br><br>
		<b>Room Profile Picture:<b><br>
		<%= f.file_field :photo %>
	</p>
	<%= f.hidden_field :room_id, :value => params[:room_id] %>
	<%= f.hidden_field :level_id, :value => 1%>
	<p>
		<b>Google Maps</b>
		<div id="map" style="width: 500px; height: 300px"></div>
	</p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', room_profiles_path %>
</td></tr></table>
