<h1>New Room Profile</h1>

<% form_for(@room_profile, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

	
	<table>
		<tr>
			<td width="350px">
	<p>
		<%= f.label :bed_type %>:<b style="color:red;">*</b><br />
		<%= f.text_field :bed_type, :size => 42 %>
	</p>
	<p>
		<%= f.label :available_spots %><b style="color:red;">*</b><br />
		<%= f.text_field :max_capacity, :size => 20 %>
	</p>
	<p>
		<%= f.label :pets %><b style="color:red;">*</b><br />
		<%= f.text_field :pets, :size => 42 %>
	</p>
	<p>
		<%= f.label :is_there_food_available_for_the_renter? %><b style="color:red;">*</b><br />
		<%= f.text_area :food, :rows => 2, :cols => 40 %>
	</p>
	<p>
		<%= f.label :number_of_roommates %><b style="color:red;">*</b><br />
		<%= f.text_field :roommates, :size => 2 %>
	</p>
	<p>
		<%= f.label :internet_available? %><b style="color:red;">*</b>
		<%= f.check_box :internet %>
	</p>
	<p>
		<%= f.label :on_campus? %><b style="color:red;">*</b>
		<%= f.check_box :on_campus %>
	</p>
	</td>
	
	<td valign="top">
	<p>
		<%= f.label :cost %><b style="color:red;">*</b><br />
		<%= f.text_field :cost, :size => 10 %>
	</p>
	<p>
		<%= f.label :additional_notes %><b style="color:red;">*</b><br />
		<%= f.text_area :notes, :rows => 5, :cols => 40 %>
	</p>
	
	<p><br><br><br>
		<%= f.label :room_profile_picture %><b style="color:red;">*</b><br />
		<%= f.file_field :photo %>
	</p>
	<%= f.hidden_field :room_id, :value => params[:room_id] %>
	<%= f.hidden_field :level_id, :value => 1%>
    
	<%= f.submit "Create" %>
  
<% end %>

<%= link_to 'Back', room_profiles_path %>
</td></tr></table>

