<h1>New Room Profile</h1>

<% form_for(@room_profile, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

	
	<table>
		<tr>
			<td width="350px">
	<p>
		<%= f.label :bed_type %>:<b style="color:red;">*</b><br />
		<%= f.text_field :bed_type, :size => 42 %><BR />
		<i style="font-size:10px;">I.e. double, queen, sofa, air mattress, etc.</i>
	</p>
	<p>
		<%= f.label (:max_capacity, "Available spots") %><b style="color:red;">*</b><br />
		<%= f.text_field :max_capacity, :size => 20 %><BR />
		<i style="font-size:10px;">How many people would you be willing to accomdate?</i>
	</p>
	<p>
		<%= f.label :pets %><b style="color:red;">*</b><br />
		<%= f.text_field :pets, :size => 42 %><BR />
		<i style="font-size:10px;">Do you have pets at your residence?</i>
	</p>
	<p>
		<%= f.label (:food, 'Is there food available for the renter?') %><b style="color:red;">*</b><br />
		<%= f.text_area :food, :rows => 2, :cols => 40 %><BR />
		<i style="font-size:10px;">I.e. would you provide breakfast, coffee, etc?</i>
	</p>
	<p>
		<%= f.label (:roommates, "Number of roomates") %><b style="color:red;">*</b>
		<%= f.text_field :roommates, :size => 2 %><BR />
		<i style="font-size:10px;">How many other people do you live with?</i>
	</p>
	<p>
		<%= f.label (:internet, "Internet available?") %>
		<%= f.check_box :internet %>
	</p>
	<p>
		<%= f.label (:on_campus, "On campus?") %>
		<%= f.check_box :on_campus %>
	</p>
	</td>
	
	<td valign="top">
	<p>
		<%= f.label :cost %><b style="color:red;">*</b><br />
		<%= f.text_field :cost, :size => 10 %>
	</p>
	<p>
		<%= f.label :additional_notes %><b style="color:red;">*</b><br />
		<%= f.text_area :notes, :rows => 5, :cols => 40 %><BR />
		<i style="font-size:10px;">Any specific details regarding the availability of the room, or <BR> anything else a renter should know.</i>
	</p>
	
	<p><br><br><br>
		<%= f.label :room_profile_picture %><br />
		<%= f.file_field :photo %>
	</p>
	<%= f.hidden_field :room_id, :value => params[:room_id] %>
	<%= f.hidden_field :level_id, :value => 1%>
    
	<%= f.submit "Create" %>
  
<% end %>

<%= link_to 'Back', room_profiles_path %>
</td></tr></table>

