<h1><%=h @room_profile.bed_type %></h1>
<table>
	<tr>
		<td>
			<%= image_tag @room_profile.photo.url, :width => "300" %><br><br><br><br><br><br><br><br><br><br><br><br>
		</td>
		<td>
<p>
  <b>Bed Type:</b>
  <%=h @room_profile.bed_type %>
</p>
<p>
  <b>Max Capacity:</b>
  <%=h @room_profile.max_capacity %>
</p>
<p>
  <b>Pets:</b>
  <%=h @room_profile.pets %>
</p>
<p>
  <b>Food:</b>
  <%=h @room_profile.food %>
</p>
<p>
  <b>Roommates:</b>
  <%=h @room_profile.roommates %>
</p>
<p>
  <b>Internet?:</b>
  <%=h @room_profile.internet %>
</p>

<p>
  <b>On Campus?:</b>
  <%=h @room_profile.on_campus %>
</p>
<p>
  <b>Cost:</b>
  <%=h number_to_currency(@room_profile.cost) %>
</p>
<p>
  <b>Notes:</b>
  <%=h @room_profile.notes %>
</p>

</td>
</tr>
</table>
<%= link_to 'Room', room_path(@room_profile.room_id) %> <br><br>

<%= link_to 'Edit', edit_room_profile_path(@room_profile) %> |
<%= link_to 'All Room Profiles', room_profiles_path %> 
