<h1>Editing room</h1>

<% form_for(@room) do |f| %>
  <%= f.error_messages %>

	<p>
		<%= f.label :street_address_1 %><br />
		<%= f.text_field :street_address_1 %>
	</p>
	
	<p>
		<%= f.label :street_address_2 %><br />
		<%= f.text_field :street_address_2 %>
	</p>
	
	<p>
		<%= f.label :city %><br />
		<%= f.text_field :city %>
	</p>
	
	<p>
		<%= f.label :state %><br />
		<%= f.text_field :state %>
	</p>
	
	<p>
		<%= f.label :zip %><br />
		<%= f.text_field :zip %>
	</p>
	
	<p>
		<%= f.submit "Update" %>
	</p>
<% end %>

<%= link_to 'Show', @room %> |
<%= link_to 'Back', rooms_path %>
