<table>
	<table >
		<tr>
		<% unless @reservations.empty? %>
		<br><br>	
			<% for reservation in @reservations %>
			<% if reservation.approved != true %>
				<td align="left">&nbsp;<%= link_to( "New Reservation Request!", '/transactions/' +reservation.id.to_s) %></td>
		  	</tr>
			<% end %>

			<% end%>
		<% end %>
	</table>
	<table>
<% unless @rooms.empty? %>	
	<h1>Your Rooms</h1>
	<% for room in @rooms %>
	<tr>
		<td width="100" align="left" valign ="top">
			<% roomprof = RoomProfile.find(:first, :conditions => ['room_id = ?', room.id]) %>
			<% if roomprof != nil %>
					<% if roomprof.photo_file_name.nil? %>
					<%= image_tag 'questionMark.png', :height => "50" %>
					<% else %>
					<%= image_tag(roomprof.photo.url, :height => "50") %>
					<% end %>
			<% end %>
		</td>
		<td align="left">
			<%= link_to( h(room.street_address_1), 'rooms/show_private/' + room.id.to_s) %><br><br>
			<%= link_to 'Edit This Room', edit_room_path(room) %><br>
		    <%= link_to 'Delete This Room', room, :confirm => 'Are you sure?', :method => :delete %><br /><br />
		</td>
	</tr>
<% end %>
<% end %>

</table>

<%= link_to 'Post a New room', new_room_path %>