<table>
	<table class="datagrid">
	  <thead class="datagrid">
		<th width="300">Room</th>

<!-- Search Results -->
<%= render :partial => 'search_results' %>

<h1>Your Rooms</h1>
<% unless @rooms.empty? %>	
	<% for room in @rooms %>
  	<tr>
		<td align="left">&nbsp;<%= link_to( h(room.street_address_1), room_path(room)) %></td>
  	</tr>
	<tr>	
      <td>
      <%= link_to 'Edit', edit_room_path(room) %>
      <%= link_to 'Delete', room, :confirm => 'Are you sure?', :method => :delete %><br /><br />
      </td>
    </tr>
	<tr>
		
	</tr>
<% end %>
<% end %>
</table>

<br />

<%= link_to 'New room', new_room_path %>
