<table>
	<table >
		<% unless @reservations.empty? %>
		<h1>Reservations</h1>	
			<% for reservation in @reservations %>
			<tr>
				<td align="left">&nbsp;<%= link_to( h(reservation.id), 'rooms/show_private/' + room.id.to_s) %></td>
		  	</tr>

			<% end%>
		<% end %><br><br>
		
	
<% unless @rooms.empty? %>	
	<h1>Your Rooms</h1>
	<% for room in @rooms %>
	<tr>
		<td width="100" align="left" valign ="top">
			<% roomprof = RoomProfile.find(:first, :conditions => ['room_id = ?', room.id]) %>
			<% if roomprof != nil %>
			<%= image_tag roomprof.photo.url, :width => "200" %>
			<% end %>
		</td>
		<td align="left">
			<%= link_to( h(room.street_address_1), 'rooms/show_private/' + room.id.to_s) %><br><br>
			<%= link_to 'Edit This Room', edit_room_path(room) %><br>
		    <%= link_to 'Delete This Room', room, :confirm => 'Are you sure?', :method => :delete %><br /><br />
		</td>
	</tr>
<% end %>
<% end %>

</table>

<%= link_to 'Post a New room', new_room_path %>