<table cellpadding="30">
	<tr>
		<td width="400">
			<h1>Search Results</h1>
			<br><br>
			<% unless @xap_results.nil? %>	
				<% for result in @xap_results %>
					<%= link_to( h(result.street_address_1), room_path(result)) %>
					<% unless result.street_address_2.empty? %>
						<br>
						<%= h(result.street_address_2) %>
					<% end %>
					<br>
					<%= h(result.city) + " " + h(result.state) + ", " + h(result.zip) %>
					<br>
					<% roomhost = User.find(:first, :conditions => ['id = ?', result.host.user_id]) %>
					<% hostprofile = Profile.find(:first, :conditions => ['user_id = ?', roomhost.id]) %>
					<% roomprofile = RoomProfile.find(:first, :conditions => ['room_id = ?', result.id]) %>
					<table>
					<tr>
						<td><% unless hostprofile.nil? %>
							<% if hostprofile.photo_file_name.nil? %>
							<%= image_tag 'emptyFace.png', :height => "50" %>
							<% else %>
							<%= image_tag(hostprofile.photo.url, :height => "50") %>
							<% end %>
							<% end %>
						</td>
						<td>
							<% unless roomprofile.nil?%>
								<% if roomprofile.photo_file_name.nil? %>
									<%= image_tag 'questionMark.png', :height => "50" %>
								<% else %>
									<%= image_tag(roomprofile.photo.url, :height => "50") %>
								<% end %>
							<% else %>
								<%= image_tag 'questionMark.png', :height => "50" %>
							<% end %>
						</td> 
						<td valign="top">
							Host:<br>
							<% if hostprofile.nil? %>
								<%= h(roomhost.first_name) + " " + h(roomhost.last_name) %>
							<% else %>
								<%= link_to( h(roomhost.first_name) + " " + h(roomhost.last_name), profile_path(hostprofile.id) )%>
							<% end %>
						</td>
					</table>
					<br>
					<br>
				<% end %>
				<%= will_paginate @xap_results %>	
			<% end %>
		</td>

		<td valign="top">
			<h1>Search for a Room</h1>
			<br><br>
			<% form_for :room, :url => { :action => :search } do |f| %>
			    <%= f.text_field (:q) %><br><br>
				<%= select_tag :filter, options_for_select([ "All", "Location", "School", "Interests", "Host"], "All") %>

			    <input type ="submit" value= "GO" />
			<% end %>
		</td>
	</tr>

</table>