<h1><%=h @room.street_address_1 %></h1>

<p>
	<b>Address</b><br>
	&nbsp;&nbsp;&nbsp;&nbsp;<%=h @room.street_address_1 %><br>
	<% unless @room.street_address_2.empty? %>
		&nbsp;&nbsp;&nbsp;&nbsp;<%=h @room.street_address_2 %><br>
	<% end%>
	&nbsp;&nbsp;&nbsp;&nbsp;<%=h @room.city + " " + @room.state + ", " + @room.zip %>
</p>


<p>
  <b>University</b><br>
  &nbsp;&nbsp;&nbsp;&nbsp;<%=h @college.name %>
</p>

<!--
	ADD ROOM PROFILE INFORMATION, HOST INFORMATON 
-->

<% if !@reserved.nil? %>
You have already requested this room.
<% else %>
	<% unless @host.id == @room.host_id %>
		<%= link_to 'Request this room', new_transaction_path(:room_id => @room.id, :renter_id => @renter.id) %>
	<% end %>
<% end %>
<%= link_to 'All Rooms', rooms_path %>
