<h1><%=h @room.street_address_1 %></h1>

<p>
	<b>Address</b><br>
	&nbsp;&nbsp;&nbsp;&nbsp;<%=h @room.street_address_1 %><br>
	<% unless @room.street_address_2.empty? %>
		&nbsp;&nbsp;&nbsp;&nbsp;<%=h @room.street_address_2 %><br>
	<% end%>
	&nbsp;&nbsp;&nbsp;&nbsp;<%=h @room.city + " " + @room.state + ", " + @room.zip %>
</p>


<p>
  <b>University</b><br>
  &nbsp;&nbsp;&nbsp;&nbsp;<%=h @college.name %>
</p>

<p>
<% if @room_profile.nil? %> 
<%= link_to 'Create Room Profile', new_room_profile_path(:room_id => @room.id) %> <br><br>
<% else %>
<%= link_to 'View Room Profile', room_profile_path(@room_profile) %> <br><br>
<% end %>
</p>

<p>
	Reservations:
<p>
	
<% if @transactions.empty? then %>
	No Reservations
<% else %>
	<% for transaction in @transactions %>
	<p>
		<%= link_to transaction.room.street_address_1, transaction_path(transaction) %>
		requested by
		<%= link_to transaction.renter.user.username, user_path(transaction.renter.user.id)%>
	</p>
	
	<% end %>
<% end %>
</p>


<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'All Rooms', rooms_path %>
