<br><br>
<table>
	<tr>
		<td width="350" valign = "top">
			<h1><%=h @room.street_address_1 %></h1>
			<% unless @room_profile.nil? %>
				<% if @room_profile.photo_file_name.nil? %>
				<%= image_tag 'questionMark.png', :width => "100" %>
				<% else %>
				<%= image_tag(@room_profile.photo.url, :width => "100") %>
				<% end %>
			<% end %>
			<%= render :partial => "ratings/rate_static", :locals => { :asset => @room } %>
			
			<% unless @room.rating == 0 %>
				<%= link_to 'View all reviews for this room', '/room_reviews/all_for_room/' + @room.id.to_s %>
			<% end %>
			
		</td>
			<td width="350" valign = "top">
				<h1><%=h @room_host.first_name %></h1>
			<% unless @host_profile.nil? %>
					<% if @host_profile.photo_file_name.nil? %>
					<%= image_tag 'emptyFace.png', :width => "100" %>
					<% else %>
					<%= image_tag(@host_profile.photo.url, :width => "100") %>
					<% end %>
				<% end %>
				<%= render :partial => "ratings/rate_static", :locals => { :asset => @room_host } %>
				
				<% unless @room_host.rating == 0 %>
					<%= link_to 'View all reviews for this user', '/user_reviews/all_for_user/' + @user.id.to_s%>
				<% end %>
			</td>
			
	</tr>
</table>		
<br>
			<table>

				<tr>
					<td valign="top" width="350" align="left">					
						<table>
							<tr>
								<td valign = "top" align = "left">
									Location:&nbsp;
								</td>
								<td>
									<%=h @room.street_address_1 %><br>
									<% unless @room.street_address_2.empty? %>
									<%=h @room.street_address_2 %><br>
									<% end %>
									<%=h @room.city + " " + @room.state + ", " + @room.zip %>
								</td>
							</tr>
							<tr>
								<td valign = "top" align = "left">
									Campus:&nbsp;
								</td>
								<td>
									<%=h @college.name %>
								</td>
							</tr>
								<% if @room_profile.nil? %>
								<tr>
									<b>A room profile has not been <br>created for this room.</b>
								</tr>
								<% else %>
								<tr>
								<td valign = "top" align = "left">
									Nightly Cost:&nbsp;
								</td>
								<td>	
									<%=h number_to_currency(@room_profile.cost) %>
								</td>
							</tr>
							<tr>
								<td valign = "top" align = "left">
									Bed Type:&nbsp;
								</td>
								<td>
									<%=h @room_profile.bed_type %>
								</td>
							</tr>
							<tr>
								<td valign = "top" align = "left">
									Room Type:&nbsp;
								</td>
								<td>
									<%=h @room_profile.size_classification %>
								</td>
							</tr>
							<tr>
								<td valign = "top" align = "left">
									Capacity:&nbsp;
								</td>
								<td>
									<%=h @room_profile.max_capacity %>
								</td>
							</tr>
							<tr>
								<td valign = "top" align = "left">
									Pets:&nbsp;
								</td>
								<td>
									<%=h @room_profile.pets %>
								</td>
							</tr>
								<tr>
									<td valign = "top" align = "left">
										Food:&nbsp;
									</td>
									<td>
										<%=h @room_profile.food %>
									</td>
								</tr>
								<% end %>
						</table>
						
						
					</td>
					<td valign="top" width="300" align="left">
						
						<table>
							<tr>
								<td valign = "top" align = "left">
									Name:&nbsp;
								</td>
								<td>
									<%=h @room_host.first_name + " " + @room_host.last_name %>
								</td>
							</tr>
							<tr>
								<td valign = "top" align = "left">
									Gender:&nbsp;
								</td>
								<td>
									<%=h @room_host.gender %>
								</td>
							</tr>
							<% if @host_profile.nil? %>
							<tr>		
								<b>This host has not created<br>a user profile.</b>
							</tr> 
								<% else %>
							<tr>
								<td valign = "top" align = "left">
									School:&nbsp;
								</td>
								<td>			
									<%=h @host_profile.college.name %>
								</td>
							</tr>
							<tr>
								<td valign = "top" align = "left">
									Birthdate:&nbsp;
								</td>
								<td>
									<%=h @host_profile.birthdate %>
								</td>
							</tr>
							<tr>
								<td valign = "top" align = "left">
									Grad Year:&nbsp;
								</td>
								<td>
									<%=h @host_profile.grad_year %>
								</td>
							</tr>
							<tr>
								<td valign = "top" align = "left">
									Living Style:&nbsp;
								</td>
								<td>
									<%=h @host_profile.living_style %>
								</td>
							</tr>
							<tr>
								<td valign = "top" align = "left">
									Bedtime:&nbsp;
								</td>
								<td>
									<%=h @host_profile.bedtime %>
								</td>
							</tr>
								<tr>
									<td valign = "top" align = "left">
										Interests:&nbsp;
									</td>
									<td>
										<%=h @host_profile.interests %>
									</td>
								</tr>
								<tr>
									<td valign = "top" align = "left">
										Smoker:&nbsp;
									</td>
									<td>
										<% if @host_profile.smoker == true %>
											Yes
										<% else %>
											No
									</td>
								</tr>
								<% end %> 
								<% end %>
						</table>
					</td>
				</tr>
				
	<tr>
		<td width="350"><br>
			<% unless @host.id == @room.host_id %>
				<% if !@reserved.nil? %>
					You have already requested this room.
					<% else %>
					<%= link_to 'Request this room', new_transaction_path(:room_id => @room.id, :renter_id => @renter.id) %>
				<% end %><br>
			<% if @fav.nil? %>
				<%=link_to("Add Room to Favorites", favorites_url(:favorite => {:user_id => @user.id, :room_id => @room.id}), :method => :post) %>
			<% else %>
				<%= link_to("Remove Room from Favorites", favorite_path(@fav), :confirm => 'Are you sure you wish to delete this favorite?', :method => :delete) %>
			<% end %>
		
		</td>
		<td><br><br>
			<% hostmail = @room_host.email %>
			<a href="mailto:<%=hostmail%>"><b>Contact Host<b></a>
				<% end %>	
		</td>
	</tr>
</table>

