<h1><%=h @room.street_address_1 %></h1>

<p>
  <b>Address 1:</b>
  <%=h @room.street_address_1 %>
</p>

<p>
  <b>Address 2:</b>
  <%=h @room.street_address_2 %>
</p>

<p>
  <b>City:</b>
  <%=h @room.city %>
</p>

<p>
  <b>State:</b>
  <%=h @room.state %>
</p>

<p>
  <b>Zip Code:</b>
  <%=h @room.zip %>
</p>

<p>
  <b>University:</b>
  <%=h @college.name %>
</p>

<% if !@reserved.nil? %>
You have already requested this room.
<% else %>
	<% unless @host.id == @room.host_id %>
		<%= link_to 'Request this room', new_transaction_path(:room_id => @room.id, :renter_id => @renter.id) %>
	<% end %>
<% end %>
<%= link_to 'All Rooms', rooms_path %>
