<br><br>
<h1><%=h @room.street_address_1 %></h1>
<br>
<table cellpadding="5">
	<tr>
		<td valign="top" width="150"><b>Address</b></td>
		<td>
			<%=h @room.street_address_1 %><br>
			<% unless @room.street_address_2.empty? %>
				<%=h @room.street_address_2 %><br>
			<% end %>
			<%=h @room.city + " " + @room.state + ", " + @room.zip %>
		</td>
	</tr>
	<tr>
		<td><b>College</b></td>
		<td><%=h @college.name %></td>
	</tr>
	<% unless @room_profile.nil? %>
		<tr>
			<td><b>Bed Type</b></td>
			<td><%=h @room_profile.bed_type %></td>
		</tr>
		<tr>
			<td><b>Max Capacity</b></b><br>
			<td><%=h @room_profile.max_capacity %></td>
		</tr>
	<% end %>
</table>



<!--
	ADD ROOM PROFILE INFORMATION, HOST INFORMATION 
-->

<br>
<br>
<br>
<% if @fav.nil? %>
	<%=link_to("Add to Favorites", favorites_url(:favorite => {:user_id => @user.id, :room_id => @room.id}), :method => :post) %>
<% else %>
	<%= link_to("Remove from Favorites", favorite_path(@fav), :confirm => 'Are you sure you wish to delete this favorite?', :method => :delete) %>
<% end %>
<br>
<br>
<br>

<% if !@reserved.nil? %>
You have already requested this room.
<% else %>
	<% unless @host.id == @room.host_id %>
		<%= link_to 'Request this room', new_transaction_path(:room_id => @room.id, :renter_id => @renter.id) %>
	<% end %>
<% end %>
<%= link_to 'All Rooms', rooms_path %>
</div>