<br><br>
<table>
	<tr>
		<td width="350">
			<h1><%=h @room.street_address_1 %></h1>
			<%= render :partial => "ratings/rate_static", :locals => { :asset => @room } %>
		<td>
			<td valign = "top">
				<h1><%=h @room_host.first_name %></h1>
			<td>
	</tr>
</table>		
<br>

			<table>

				<tr>
					<td valign="top" width="350" align="left">					
						<table>
							<tr>
								<td valign = "top" align = "left">
									Location:&nbsp;
								</td>
								<td>
									<%=h @room.street_address_1 %><br>
									<% unless @room.street_address_2.empty? %>
									<%=h @room.street_address_2 %><br>
									<% end %>
									<%=h @room.city + " " + @room.state + ", " + @room.zip %>
								</td>
							</tr>
							<tr>
								<td valign = "top" align = "left">
									Campus:&nbsp;
								</td>
								<td>
									<%=h @college.name %>
								</td>
							</tr>
							<tr>
								<td valign = "top" align = "left">
									Nightly Cost:&nbsp;
								</td>
								<td>	
									<% unless @room_profile.nil? %>						
									<%=h @room_profile.cost %>
								</td>
							</tr>
							<tr>
								<td valign = "top" align = "left">
									Bed Type:&nbsp;
								</td>
								<td>
									<%=h @room_profile.bed_type %>
								</td>
							</tr>
							<tr>
								<td valign = "top" align = "left">
									Room Type:&nbsp;
								</td>
								<td>
									<%=h @room_profile.size_classification %>
								</td>
							</tr>
							<tr>
								<td valign = "top" align = "left">
									Capacity:&nbsp;
								</td>
								<td>
									<%=h @room_profile.max_capacity %>
								</td>
							</tr>
							<tr>
								<td valign = "top" align = "left">
									Pets:&nbsp;
								</td>
								<td>
									<%=h @room_profile.pets %>
								</td>
							</tr>
								<tr>
									<td valign = "top" align = "left">
										Food:&nbsp;
									</td>
									<td>
										<%=h @room_profile.food %>
									</td>
								</tr>
						</table>
						
						
					</td>
					<td valign="top" width="300" align="left">
						
						<table>
							<tr>
								<td valign = "top" align = "left">
									Name:&nbsp;
								</td>
								<td>
									<%=h @room_host.first_name + " " + @room_host.last_name %>
								</td>
							</tr>
							<tr>
								<td valign = "top" align = "left">
									Gender:&nbsp;
								</td>
								<td>
									<%=h @room_host.gender %>
								</td>
							</tr>
							<tr>
								
								
								<td valign = "top" align = "left">
									School:&nbsp;
								</td>
								<td>	
									<% unless @host_profile.nil? %>						
									<%=h @host_profile.college.name %>
								</td>
							</tr>
							<tr>
								<td valign = "top" align = "left">
									Birthdate:&nbsp;
								</td>
								<td>
									<%=h @host_profile.birthdate %>
								</td>
							</tr>
							<tr>
								<td valign = "top" align = "left">
									Grad Year:&nbsp;
								</td>
								<td>
									<%=h @host_profile.grad_year %>
								</td>
							</tr>
							<tr>
								<td valign = "top" align = "left">
									Living Style:&nbsp;
								</td>
								<td>
									<%=h @host_profile.living_style %>
								</td>
							</tr>
							<tr>
								<td valign = "top" align = "left">
									Bedtime:&nbsp;
								</td>
								<td>
									<%=h @host_profile.bedtime %>
								</td>
							</tr>
								<tr>
									<td valign = "top" align = "left">
										Interests:&nbsp;
									</td>
									<td>
										<%=h @host_profile.interests %>
									</td>
								</tr>
								<tr>
									<td valign = "top" align = "left">
										Smoker:&nbsp;
									</td>
									<td>
										<% if @host_profile.smoker == true %>
											Yes
										<% else %>
											No
									</td>
								</tr>
								<% end %> 
						</table>
					</td>
				</tr>
				
	<tr>
		<td width="350"><br>
			<% unless @host.id == @room.host_id %>
				<% if !@reserved.nil? %>
					You have already requested this room.
					<% else %>
					<%= link_to 'Request this room', new_transaction_path(:room_id => @room.id, :renter_id => @renter.id) %>
				<% end %><br>
			<% if @fav.nil? %>
				<%=link_to("Add Room to Favorites", favorites_url(:favorite => {:user_id => @user.id, :room_id => @room.id}), :method => :post) %>
			<% else %>
				<%= link_to("Remove Room from Favorites", favorite_path(@fav), :confirm => 'Are you sure you wish to delete this favorite?', :method => :delete) %>
			<% end %>
			<% end %>
		</td>
		<td><br><br>
			<b>Contact Host<b>
		</td>
	</tr>
</table>
<% end %>
<% end %>