<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>DormHost :: <%= controller.controller_name.capitalize %></title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<%= stylesheet_link_tag 'layout', 'text', 'datagrid' %>
		<%= javascript_include_tag :defaults %>
	</head>

	<body>
		<div id="wrap">
<!--	    	<%= link_to '<div id="header"></div>', home_path('home') %> -->
		<div id="header">
			<% if logged_in? -%>
				<div id="mini_logout">
				<div id="user-bar-greeting">Logged in as <%= session[:username] %></div>
				<div id="ytext">(<%= link_to "log out", logout_path, { :title => "Log out" }    %>)</div>
				</div>
			<% else -%>
			<div id="mini_login">
				<% form_tag session_path do -%>
				<label for="username" style="font-size: 80%">Username:</label> 
				<%= text_field_tag 'login', @login %>
				<br />
				<label for="password" style="font-size: 80%">Password:</label>
				<%= password_field_tag 'password', nil %>
				<br />
				<label for="remember_me" style="font-size: 80%">Remember me:</label>
				<%= check_box_tag 'remember_me', '1', @remember_me %>
				<table>
					<tr>
						<td>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</td>
						<td>
							<div id="ytext">
								<%= link_to 'Register', new_user_path %> <font color=#FFCC66>|</font> <%= link_to 'Forgot Password?', forgot_password_path %>
							</div>
			    		</td>
						<td>

				<%= submit_tag 'Log in' %>	
				<!-- Uncomment this if you want this functionality -->
				<!--
				<label for="remember_me">Remember me:</label>
				<%= check_box_tag 'remember_me', '1', @remember_me %>
				<br /> -->
						</td>
					</tr>
				</table>	
				<% end -%>
			</div>
			<% end -%>
		</div>
			
				<!-- TABS -->

				<% if logged_in? -%>

				<div id="lineA">

				<table cellspacing="0" cellpadding="0" border="0">
				<tbody>
					<tr valign="bottom" align="left">
						<td width="1">
							<img width="1" vspace="0" hspace="5" height="20" border="0"/>
						</td>
						<td width="20" valign="top">
							<img width="20" vspace="0" hspace="0" height="50" border="0" src="/images/bigL.png"/>
						</td>
						<td valign="bottom" nowrap="" align="top">
							<div id="tabOn">
								<%= link_to 'Homepage', profiles_path %>
							</div>
						</td>
						<td width="20" valign="top">
							<img width="20" vspace="0" hspace="0" height="50" border="0" src="/images/bigR.png"/>
						</td>
						<td width="20" valign="bottom">
							<img width="20" vspace="0" hspace="0" height="45" border="0" src="/images/smallL.png"/>
						</td>
						<td valign="bottom" nowrap="">
							<table height="25" cellspacing="0" cellpadding="0" border="0">
								<tbody>
									<tr>
										<td height="4"/>
									</tr>
									<tr>
										<td id="tab" nowrap="" height="45">
											<%= link_to 'Plan a Trip', hosts_path %>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
						<td width="20" valign="bottom">
							<img width="20" vspace="0" hspace="0" height="45" border="0" src="/images/smallR.png"/>
						</td>
						<td width="20" valign="bottom">
							<img width="20" vspace="0" hspace="0" height="45" border="0" src="/images/smallL.png"/>
						</td>
						<td valign="bottom" nowrap="">
							<table height="25" cellspacing="0" cellpadding="0" border="0">
								<tbody>
									<tr>
										<td height="4"/>
									</tr>
									<tr>
										<td id="tab" nowrap="" height="21">
											<%= link_to 'My Listings', rooms_path %>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
						<td width="20" valign="bottom">
							<img width="20" vspace="0" hspace="0" height="45" border="0" src="/images/smallR.png"/>
						</td>
						<td width="20" valign="bottom">
							<img width="20" vspace="0" hspace="0" height="45" border="0" src="/images/smallL.png"/>
						</td>
						<td valign="bottom" nowrap="">
							<table height="25" cellspacing="0" cellpadding="0" border="0">
								<tbody>
									<tr>
										<td height="4"/>
									</tr>
									<tr>
										<td id="tab" nowrap="" height="21">
											<%= link_to('My Trips', '/rooms/requested') %>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
						<td width="20" valign="bottom">
							<img width="20" vspace="0" hspace="0" height="45" border="0" src="/images/smallR.png"/>
						</td>
				</table>
					
				<!-- END TABS -->

				<div id="lineH">

				<% else -%>

				<% end -%>
			
			
			<br />
	        <!--		<td>
							<% form_for :room, :url => { :action => :search } do |f| %>
							    <%= f.text_field (:q) %><br>
								<%= select_tag :filter, options_for_select([ "All", "Location", "School", "Interests", "Host"], "All") %>
							
						</td>
							<td>
							    <input type ="submit" value= "GO" />
							<% end %>
							</td>
						  
	        	
	        </div> <!-- end of nav div -->
			<div style="clear:both;"></div>
	    	<div id="body">
				<p style="color: green" id="notice"><%= flash[:notice] %></p>
				<%= yield %>
			</div> <!-- end of body div -->

			<%= render :partial => "partials/footer" %>
		</div><!-- end of wrap div -->
	</body>
</html>